.chart rect {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

#loading {
  display: none;
}

#charts svg {
  background-color: #C7D9D9;
}


/* responsive.html*/
#chart {
  background: lightgray;
  border: 1px solid black;
}

rect {
  fill: steelblue;
}